@model BoothViewModel

<h2>Welcome to Booth @Model.BoothName</h2>

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>Price: $@product.Price</p>
        <p>Amount: @product.Amount</p>
        <p>@product.Category.CategoryName</p>
        <h4>Product Pictures:</h4>
        @foreach (var picture in product.pictures)
        {
            <img src="@picture.Url" alt="Product Picture" />
        }

        <h4>Category:</h4>
        
        <a class="btn btn-primary" asp-area="Customer" asp-controller="CustomerPanel" asp-action="AddProduct" asp-route-ProductId="@product.ProductId">Buy</a>
    </div>
}