@model BoothDtOs

<h2>Booth Details</h2>
    <div>

        <div>
            <h4>Booth Name: @Model.BoothName</h4>
        </div>

        <div>
            <h4>Products</h4>
            
            <div>
                @foreach (var product in @Model.Products)
                {
                    <div class="card m-2">
                        <div class="card-body">
                        <h5 class="card-title">Product Name: @product.ProductName</h5>
                        <h5 class="card-title">Product Name: @product.Price</h5>
                        <h5 class="card-title">Product Name: @product.Amount</h5>
                        <h5 class="card-title">Category: @product.Category.CategoryName</h5>
                            
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>